@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	text-decoration: none;
	list-style: none;
}

img {
	width: 100%;
}

body {
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
}

.main-container {
	width: 90vw;
	margin: 30px auto;
	padding: 40px 0;
}
.main-container > h2 {
	text-align: center;
	padding: 10px 0;
	font-size: 32px;
	margin-top: 30px;
}
.main-container > p {
	font-weight: 300;
	padding: 10px 0;
	opacity: 0.7;
	text-align: center;
}
.category-head {
	margin: 30px 0;
}
.category-head ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.category-title {
	flex: 0 0 calc(16.6667% - 10px);
	display: flex;
	justify-content: center;
	background: #a8a8a8;
	padding: 12px;
	color: #fff;
	margin: 5px;
	cursor: pointer;
	transition: all 0.4s ease;
}
.category-title:hover {
	opacity: 0.7;
}
.category-title li {
	padding: 0 10px;
}
.category-title span {
	color: #222;
}

/** single post **/
.posts-main-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}
.posts-main-container > div {
	box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}
.post-img {
	position: relative;
}
.category-name {
	position: absolute;
	top: 20px;
	left: 20px;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	padding: 4px 10px;
	border-radius: 2px;
}
.pidato .category-name {
	background: #00a7ea;
}
.musik .category-name {
	background: #f03250;
}
.menggambar .category-name {
	background: #f0544f;
}
.puisi .category-name {
	background: #2c2a4a;
}
.olahraga .category-name {
	background: #a1e44d;
}

.post-content {
	padding: 25px;
}
.post-content-top {
	background: #80ced7;
	color: #fff;
	opacity: 0.8;
	padding: 5px 0 5px 15px;
}
.post-content-top span {
	padding-right: 20px;
}
.post-content-top .fa-comment,
.post-content-top .fa-calendar {
	padding-right: 5px;
}
.post-content h2 {
	font-size: 22px;
	padding: 12px 0;
	font-weight: 400;
}
.post-content p {
	opacity: 0.7;
	font-size: 15px;
	line-height: 1.8;
}
.read-btn {
	border: none;
	padding: 8px 15px;
	display: block;
	margin: 5px auto;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #292929;
	background: transparent;
	margin-bottom: 40px;
}

.read-btn:hover {
	background: #f6f6f6;
}

/***************/
@media (max-width: 1170px) {
	.posts-main-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 768px) {
	.posts-main-container {
		grid-template-columns: 1fr;
	}
}

/***********/

.active {
	background: #f0544f;
}

.search-wrapper.show {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.search-wrapper {
	position: absolute;
	top: 80px;
	right: 500px;
	width: 100px;
	background: rgba(33, 37, 41, 0.9);
	border-radius: 0.25rem;
	padding: 10px;
	border: 1px solid #495057;
	min-width: 250px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.search-wrapper:after {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 3px;
	display: block;
	background: inherit;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: -8px;
	right: 40px;
	border-top: 1px solid #495057;
	border-left: 1px solid #495057;
}
.search-wrapper input {
	border-radius: 0.25rem;
	border-width: 1px;
	padding: 5px 8px;
	margin: 0;
	width: 100%;
}
