* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #f3f3f3;
}

/*==product-page===============================*/
.product-details {
    max-width: 1200px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
}

.product-img {
    width: 100%;
    background-color: #e3e3e3;
    position: relative;
    overflow: hidden;
}

.img-social-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    box-shadow: 2px 16px 30px rgba(0, 0, 0, 0.08);
    z-index: 101;
}

.img-social-bar a {
    color: #5e5e5e;
    margin: 20px 10px;
    transition: all ease 0.3s;
}

.img-social-bar a:hover {
    color: #181818;
}

.product-text {
    background-color: #ffffff;
    padding: 60px;
    position: relative;
}

.product-text .product-category {
    color: #5e5e5e;
    font-size: 0.9rem;
}

.product-text h3 {
    color: #252525;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 10px 0px;
}


.product-text p {
    margin: 30px 0px;
    color: #5e5e5e;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.s-checkbox {
    display: none;
}

.product-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0px;
    margin-bottom: 20px;
    grid-gap: 20px;
}

.product-button a {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    border-radius: 4px;
}

.product-button .add-bag-btn {
    background-color: #181818;
    color: #ffffff;
}

.product-button .add-wishlist-btn {
    background-color: #f1f1f1;
    color: #252525;
}

.help-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #181818;
    font-size: 0.9rem;
    text-decoration: underline;
    text-transform: lowercase;
}

.mySwiper {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: flex !important;
}


.slider-btns {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:1024px) {
    .product-text {
        padding: 30px;
    }
}

@media(max-width:820px) {
    .product-details {
        grid-template-columns: 1fr;
    }

    .mySwiper {
        max-height: 400px;
    }

    .product-button {
        margin-bottom: 40px;
    }
}

@media(max-width:450px) {
    .product-text h3 {
        font-size: 1.6rem;
    }

    .product-button {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}